name: 'Deploy a VM in Azure with Terraform'
 
on:
  push:
    branches:
    - main
  pull_request:
 
jobs:
  terraform_analysis:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Run OPA
      uses: open-policy-agent/opa
      with:
        args: eval -f pretty --data=main.tf "data.azure.terraform.resource_name.azurerm_virtual_machine[0]"
      id: opa

    - name: Check OPA result
      run: |
        if [ "$(jq '.result | length' <(echo "${{ steps.opa.outputs.stdout }}"))" != "13" ]; then
            echo "The virtual machine name must have exactly 13 characters."
            exit 1
        fi
  
  terraform:
    needs: 'terraform_analysis' 
    name: 'Terraform'
    env:
      ARM_CLIENT_ID: ${{ secrets.AZURE_AD_CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.AZURE_AD_CLIENT_SECRET }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      ARM_TENANT_ID: ${{ secrets.AZURE_AD_TENANT_ID }}
      #ADMINISTRATOR_LOGIN:  ${{ secrets.AZURE_ADMINISTRATOR_LOGIN }}
      #ADMINISTRATOR_PASSWORD: ${{ secrets.AZURE_ADMINISTRATOR_PASSWORD }}
    runs-on: ubuntu-latest
    environment: production
 
    # Use the Bash shell regardless whether the GitHub Actions runner is ubuntu-latest, macos-latest, or windows-latest
    defaults:
      run:
        shell: bash
        working-directory: ./terraform
 
    steps:
    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v2

    
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1

    - name: List directory
      run: ls -a

    - name: Terraform Init
      run: terraform init

    - name: Terraform Plan
      run: terraform plan

    - name: Terraform Apply
      run: terraform apply -auto-approve
